<!-- <h1>Hilton Hotel</h1> -->
<!-- <div #name ></div> -->
<!-- <app-rooms></app-rooms> -->

<!-- // don't use href to link pages as it forces the page to reload instead of redirecting simply
<a [href]="'rooms'" >Rooms</a>
<a [href]="'employee'" >employee</a> -->

<!-- using routerlinks ---  only views change -->
<app-navigation></app-navigation>
<a [routerLink]="'employee'">employee</a>
<a [routerLink]="'rooms'">rooms</a>
<!-- <router-outlet></router-outlet> -->
<!-- <app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>
    This is ng content!
  </h1>
</app-container> -->
<!-- ngswitch example -->
<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'user'"><h4>Welcome User!</h4></div>
  <div *ngSwitchCase="'admin'">
    <app-rooms></app-rooms>
  </div>
  <div *ngSwitchDefault><h4>YOu are not authorised to view this page!</h4></div>
</div> -->

<!--<div>
  <ng-template #user></ng-template> 
</div> -->
<!-- #using this to loead a component dynamically 
  # ng template -- is a tag which wii=ll never render anthing by its own.
  #user is a template reference which can be used to refer this element in ts file-->
